<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Clientes</li>
  </ol>
  <!-- row -->
  <div class="row">
    <!-- col para la grilla de clientes -->
    <div class="col-md-12" ng-show="c.gritdClientes">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Clientes</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" ng-click="c.getPaginationServerSide(true)" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb">
              <label> EXCURSIONES </label>
              <select class="form-control"
                      ng-model="c.fBusqueda.filtroExcursiones" ng-change="c.getPaginationServerSide(true);"
                      ng-options="item.descripcion for item in c.listaExcursionesFiltro"
                      aria-invalid="false" style="">
              </select>
            </div>
            <div class="col-md-9 col-sm-12">
              <div class="form-group pull-right mt-lg" style="position: relative;z-index: 10">
                <button class="btn btn-success" ng-click='c.btnNuevo()'>Nuevo</button>
              </div>
            </div>
            <!-- <select ng-model="c.lang" ng-options="l for l in c.langs"></select><br> -->
            <!-- <div class="col-md-12 col-sm-12" ui-i18n="{{c.lang}}"> -->
            <div class="col-md-12 col-sm-12">
              <!-- <p ui-t="groupPanel.description"></p> -->
              <div ui-grid="c.gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-pagination class="grid table-responsive clear">
              </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->
      </div>
      <!-- /tile -->
    </div>
    <!-- /col -->
    <!-- col para la subir las imagenes de un cliente -->
    <div class="col-md-12" ng-show="!c.gritdClientes">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Subir Imagenes de Clientes</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;"ng-click="c.getPaginationServerSide()" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <h4 class="heading mt-n col-md-6">CÓDIGO: {{c.fDataUpload.codigo}}</h4>
                <div class="form-group pull-right" style="position: relative;z-index: 10">
                    <button class="btn btn-success" ng-click='c.btnSubir()'>
                      <i class="halcyon-icon-upload"></i> Subir Fotografias</button>
                    <button class="btn" ng-click='c.btnSubirImagenesCarpeta()'>
                      <i class="halcyon-icon-folder-16"></i> Subir Fotografias desde Carpeta</button>
                    <button class="btn btn-warning" ng-click='c.btnVolver()'>
                      <i class="halcyon-icon-back"></i> Regresar</button>
                </div>
              </div>
              <div class="form-group mt-lg" style="position: relative;z-index: 10">
                <div class="form-group" ng-show="c.uploadBtn">
                  <label class="col-md-12 control-label minotaur-label">Seleccione</label>
                  <div class="form-group col-md-3">
                    <input type="file" nv-file-select="" uploader="uploader" multiple class="filestyle" filestyle="{ buttonText: 'Select file', iconName: 'fa fa-inbox' }" accept=".jpeg, .jpg, .mp4, .mkv, .avi, .dvd, .mov"/><br/>
                  </div>
                  <div class="form-group col-md-9" style="text-align: right;">
                    <span >Tamaño maximo para Imagenes es de 10MB</span> <br/>
                    <span>Tamaño maximo para Videos es de 100Mb</span>
                  </div>

                  <div class="col-md-12" style="margin-bottom: 40px;background-color: #fbfbf2;padding: 35px 20px;">

                    <p>Cantidad de archivos en cola: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Nombre</th>
                                <th ng-show="uploader.isHTML5">Tamaño</th>
                                <th ng-show="uploader.isHTML5">Progreso</th>
                                <th>Estatus</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Subir
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="c.subirTodo();" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Subir Todo
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar Todo
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Eliminar Todo
                        </button>
                    </div>

                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="form-group" ng-if="c.length_images > 0">
                    <ul class="mix-controls">
                      <li class="select-all">
                        <label class="checkbox minotaur-checkbox inline-block m-0">Seleccionar Todo
                          <input type="checkbox" ng-model="selectedAll" ng-click="c.selectAll()"><div class="input-indicator"></div>
                        </label>
                      </li>
                      <li class="btn" ng-class="{'disabled': !c.isSelected}">
                        <a href="javascript:;" ng-click="c.btnDeleteArchivoSelect()"><i class="fa fa-trash-o"></i> Eliminar</a>
                      </li>
                    </ul>
                  </div>
                  <div class="row mix-grid" masonry="{ transitionDuration: '0.4s',stagger: 30 }">
                    <div class="gallery" ng-mixitup magnific-popup="{
                      delegate: 'a.img-preview',
                      type: 'image',
                      tLoading: 'Loading image #%curr%...',
                      mainClass: 'mfp-img-mobile',
                      gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0,2]
                      }}" >
                      <div infinite-scroll='c.loadMore()' infinite-scroll-distance='2'>
                        <div class="masonry-brick col-md-3 col-sm-4 mb-20 mix {{image.tipo_archivo}}" ng-class="{'selected': image.selected}" ng-repeat="image in c.images">
                          <div class="tile img-container">
                            <div class="ribbon-wrapper-green" ng-if="image.descargado"><div class="ribbon-green">SOLD!</div></div>
                            <img class="img-responsive" ng-src="{{image.src_thumb}}" alt="" ng-if="image.tipo_archivo == 1">
                            <img class="img-responsive" ng-src="{{image.src_image}}" alt="" ng-if="image.tipo_archivo == 2">
                            <div class="img-details">
                              <h4>{{$index+1}}</h4>
                              <div class="img-controls">
                                <a href="javascript:;" class="img-select" ng-click="c.selectImage($index)">
                                  <i class="fa fa-circle-o" ng-show="!image.selected"></i>
                                  <i class="fa fa-circle" ng-show="image.selected"></i>
                                </a>
                                <a href="javascript:;" class="img-link" ng-click="c.btnAnularArchivo(image)">
                                  <i class="fa fa-trash"></i>
                                </a>
                                <a class="img-preview" href="{{image.src}}" title="{{image.title}}" ng-if="image.tipo_archivo == 1">
                                  <i class="fa fa-search"></i>
                                </a>
                                <a href="javascript:;" class="img-link" ng-if="image.tipo_archivo == 2" ng-click="c.videosView(image)">
                                  <i class="fa fa-search"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->
      </div>
      <!-- /tile -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
