<div class="container" ng-if="seccionWeb">
    <div class="row">
        <div class="col-sm-12">

            <div class="title text-center">

				<h3>{{seccionWeb[8].titulo}}</h3>

			</div><!-- headline -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->

<div class="container text-center" ng-if="seccionWeb">
    <div class="row">
        <div class="col-md-12">
			<div ng-bind-html="seccionWeb[8].contenido"></div>
			<br>
			<br class="hidden-lg hidden-md">
        </div><!-- col -->

    </div><!-- row -->
</div><!-- container -->