<section class="full-section" id="contacto">
	<div class="full-section-container">
		<div class="container">
			<div class="title">
				<h3>Contacto</h3>
			</div><!-- headline -->
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">

					<form id="contact-form" name="formContact" role="form"  >
						<fieldset>
							<div id="alert-area"></div>
							<div class="row">
								<div class="col-sm-6">
									<p>
										<input class="col-xs-12" id="name" type="text" name="name" placeholder="" required ng-model="fData.nombre">
										<label for="name">Nombre <small class="text-red">*</small></label>
									</p>
								</div><!-- col -->
								<div class="col-sm-6">
									<p>
										<input class="col-xs-12" id="email" type="email" name="email" placeholder="" required ng-model="fData.email">
										<label for="email">E-mail <small class="text-red">*</small></label>
									</p>
								</div><!-- col -->
							</div><!-- row -->
							<p>
								<input class="col-xs-12" id="subject" type="text" name="subject" placeholder="" required ng-model="fData.asunto">
								<label for="subject">Asunto <small class="text-red">*</small></label>
							</p>
							<p>
								<textarea class="col-xs-12" id="message" name="message" rows="3" cols="25" placeholder="" required ng-model="fData.mensaje"></textarea>
								<label for="message">Mensaje <small class="text-red">*</small></label>
							</p>
							<div id="reCaptcha" class="g-recaptcha" data-sitekey="{{keyRecaptcha}}" data-callback="recaptchaResponse"></div>
							<uib-alert type="{{fAlert.type}}" ng-show='fAlert.type' class="p-sm mt" >
                                    <strong> {{ fAlert.strStrong }} </strong> <span ng-bind-html="fAlert.msg"></span>
                                </uib-alert>
							<button class="btn btn-default-1 waves mt" id="submit" type="submit" name="submit" value="" ng-click="enviar();$event.preventDefault();" >Enviar</button>
						</fieldset>
					</form>

				</div><!-- col -->
				<div class="col-sm-4">
					<h5 class="text-uppercase"><strong>Información de Contacto</strong></h5>
					<br>
					<div class="widget widget-contact no-margin-bottom">
						<ul>
							<li ng-if="dataWeb.direccion">
								<i class="fa fa-map-marker"></i>
								{{dataWeb.direccion}}
							</li>
							<li ng-if="dataWeb.telefono">
								<i class="fa fa-phone"></i>
								{{dataWeb.telefono}}
							</li>
							<li ng-if="dataWeb.skype">
								<i class="fa fa-skype"></i>
								{{dataWeb.skype}}
							</li>
							<li ng-if="dataWeb.correo">
								<i class="fa fa-envelope"></i>
								<a href="mailto:{{dataWeb.correo}}">{{dataWeb.correo}}</a>
							</li>
						</ul>
					</div><!-- widget-contact -->
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- full-section-container -->
</section><!-- full-section -->
