<section class="full-section dark-section parallax" id="section-28" data-stellar-background-ratio="0.1" ng-if="seccionWeb"style="background-image: url(uploads/banners/FONDO/{{seccionWeb[4].contenedor[0].imagen_bg}});">
	<div class="full-section-overlay-color"></div>
	<div class="full-section-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title text-center" style="margin-bottom:15px;">
						<h3>{{seccionWeb[6].contenedor[0].titulo}}</h3>
					</div><!-- headline -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="text-center"><strong>{{seccionWeb[6].contenedor[0].subtitulo}}</strong></h5>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="owl-carousel process-slider">
						<div class="item">
							<div class="service-box style-7">
								<i class="halcyon-icon-eyeglasses"></i>
								<div class="service-box-content">
									<h6><a href="single-service.html">Responsive</a></h6>
									<p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit
									eu est sed imperdiet luctus.</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->
						<div class="item">
							<div class="service-box style-7">
								<i class="halcyon-icon-settings-4"></i>
								<div class="service-box-content">
									<h6><a href="single-service.html">More gear power</a></h6>
									<p>Luctus mi mollis quam feugiat conseq uat eu sed eros. Cras suscipit eu est
									sed imperdiet. Aenean mdiet.</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->
						<div class="item">
							<div class="service-box style-7">
								<i class="halcyon-icon-database-3"></i>
								<div class="service-box-content">
									<h6><a href="single-service.html">Money well spend</a></h6>
									<p>Enean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit
									eu est sed imperdiet. Aenean luctus.</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->
						<div class="item">
							<div class="service-box style-7">
								<i class="halcyon-icon-notebook-4"></i>
								<div class="service-box-content">
									<h6><a href="single-service.html">Well documented</a></h6>
									<p>Cras tristique felis sed nulla ullamcorper laoreet. Donec sed porta augue,
									ornare maximus nisi est.</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->
						<div class="item">
							<div class="service-box style-7">
								<i class="halcyon-icon-star"></i>
								<div class="service-box-content">
									<h6><a href="single-service.html">Fast response</a></h6>
									<p>Vivamus mollis nisi purus, id euismod magna finibus ut. Nullam bibendum
									neque vitae lectus dapibus.</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->
					</div><!-- process-slider -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- full-section-container -->
</section><!-- full-section -->