<section class="full-section parallax" id="section-27" data-stellar-background-ratio="0.1" ng-if="seccionWeb">
	<div class="full-section-container">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-offset-1 col-lg-4 col-md-6 col-sm-10">
					<h3>{{seccionWeb[2].contenedor[0].titulo}}</h2>
					<h5><strong>{{seccionWeb[2].contenedor[0].subtitulo}}</strong></h5>
					<div ng-bind-html="seccionWeb[2].contenedor[0].contenido"></div>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container-fluid -->

	</div><!-- full-section-container -->
</section><!-- full-section -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="title">

				<h3>{{seccionWeb[2].contenedor[1].titulo}}</h3>

			</div><!-- headline -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <h5><strong>{{seccionWeb[2].contenedor[1].subtitulo}}</strong></h5>

			<br>

			<p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet.
			Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit velit, lacinia sit amet
			tellus at, auctor sus cipit metus. Duis congue nibh at tortor ornare, sed commo do ipsum mattis.
			Phasellus lacinia sed purus eget rhoncus. Mauris ut tortor efficitur.</p>

			<br>

			<p><a ng-show="seccionWeb[2].contenedor[1].tiene_boton" class="btn btn-default-1 waves" href="#">Discover</a></p>

			<br class="hidden-lg hidden-md">

        </div><!-- col -->
		<div class="col-md-8">

            <div class="row">
				<div class="col-sm-6" ng-repeat="item in seccionWeb[2].contenedor[1].fichas">

					<div class="service-box style-4 wow fadeIn">

						<i class="{{item.clase}}"></i>

						<h6><a href="">{{item.titulo}}</a></h6>

						<div class="service-box-content">

							{{item.descripcion}}

						</div><!-- service-box-content -->

					</div><!-- service-box -->

				</div><!-- col -->

			</div><!-- row -->

        </div><!-- col -->
    </div><!-- row -->
</div>
<section class="full-section dark-section parallax" id="section-28" data-stellar-background-ratio="0.1" ng-if="seccionWeb" style="background-image: url(uploads/banners/FONDO/{{seccionWeb[2].contenedor[2].imagen_bg}});">
	<div class="full-section-overlay-color"></div>
	<div class="full-section-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title text-center" style="margin-bottom:15px;">
						<h3>{{seccionWeb[2].contenedor[2].titulo}}</h3>
					</div><!-- headline -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="text-center"><strong>{{seccionWeb[2].contenedor[2].subtitulo}}</strong></h5>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<data-owl-carousel class="owl-carousel process-slider"
						data-options="{navigation: true, pagination: false, rewindNav : true,
							responsive: {
								0:  {items: 1},
								768:{items: 2},
								991:{items: 3}
							},
				            autoplay: true, loop: false
			            }"
			            >
				      	<div owl-carousel-item="" ng-repeat="item in ::seccionWeb[2].contenedor[2].fichas" class="item">
							<div class="service-box style-7">
								<i class="{{::item.clase}}"></i>
								<div class="service-box-content">
									<h6><a href="">{{::item.titulo}}</a></h6>
									<p>{{::item.descripcion}}</p>
								</div><!-- service-box-content -->
							</div><!-- service-box -->
						</div><!-- item -->

				    </data-owl-carousel>



				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- full-section-container -->
</section><!-- full-section -->