<div class="container" ng-if="seccionWeb">
    <div class="row">
        <div class="col-sm-12">

            <div class="title text-center">

				<h3>{{seccionWeb[6].contenedor[0].titulo}}</h3>

			</div><!-- headline -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->

<div class="container text-center" ng-if="seccionWeb">
    <div class="row">
        <div class="col-md-12">
            <h5><strong>{{seccionWeb[6].contenedor[0].subtitulo}}</strong></h5>
			<br>
			<div ng-bind-html="seccionWeb[6].contenedor[0].contenido"></div>
			<br>
			<p ng-show="seccionWeb[6].contenedor[0].tiene_boton"><a class="btn btn-default-1 waves" href="#">Discover</a></p>
			<br class="hidden-lg hidden-md">
        </div><!-- col -->

    </div><!-- row -->
</div><!-- container -->