.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/config.php
application/config/email.php

assets/js/config.js
admin/app/config.js
/admin/app/components/*
/admin/app/components/jsons/*
/admin/app/components/modules/*
/admin/app/components/templates/*
/admin/app/components/partials/customize/*
/admin/app/components/partials/rightbar/*
/admin/assets/images/*


/bower_components/
assets/images/*
/uploads/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
