<!DOCTYPE html>
<html  lang="en" ng-app="caribbean" ng-controller="MainController as vm">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
	<meta name="keywords" content="{{dataWeb.keywords}}">
	<!-- <meta name="description" content="{{dataWeb.descripcion_we}}"> -->
	<meta name="description" content="Goey Studios Punta Cana">
	<!-- <base href="{{dirWeb}}"> -->
	<title ng-bind="dataWeb.titulo_we"></title>
	<!-- FAVICON AND APPLE TOUCH -->
	<link rel="shortcut icon" href="assets/images/favicon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-180x180.png">
	<meta name="msapplication-TileImage" content="assets/images/mstile.png">
	<meta name="msapplication-TileColor" content="#1574a6">
	<meta name="theme-color" content="#1574a6">




</head>
<body  id="home" class="sticky-header header-white" data-spy="scroll" data-target=".navbar_cp" data-offset="80" >
	<div class="preloader-wrapper">
      <div class="loader"></div>
    </div>
	<div id="main-container">
		<div id="google_translate_element" class="no_print traductor"></div>
		<!-- HEADER -->
		<header id="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3">
						<!-- LOGO -->
						<div id="logo">
							<img src="assets/images/logo-dark.png" alt="">
						</div><!-- LOGO -->
					</div><!-- col -->
					<div class="col-sm-7">
						<div id="terminos" style="display:none;width:100%;" ng-include="'templates/seccion/terminos.html'"></div>
						<div id="preguntas" style="display:none;width:100%;" ng-include="'templates/seccion/preguntas.html'"></div>
						<div id="aviso" style="display:none;width:100%;" ng-include="'templates/seccion/aviso-legal.html'"></div>
						<!-- MENU -->
						<nav class="navbar_cp" data-offset-top="80">
							<a id="mobile-menu-button" class="waves" href="#"><i class="fa fa-bars"></i></a>
							<ul class="menu clearfix nav navbar-nav" id="menu">
								<li><a href="#terminos" fancybox>Terms & Conditions</a></li>
								<li><a href="#preguntas" fancybox>FAQs</a></li>
								<li><a href="#aviso" fancybox>Legal Notice</a></li>
								<li><a href="http://www.goeystudio.com" target="_blank">About Us</a></li>

							</ul>
						</nav>
					</div>
					<div class="col-sm-2 mt-md">
						<div class="widget widget-social mb-n">
							<div class="social-media rounded text-center">
								<a class="{{item.clase}}" href="{{item.enlace}}" target="_blank" ng-repeat="item in dataRedes"><i class="{{item.icono_rs}}"></i></a>
							</div><!-- social-media -->
						</div><!-- widget-social -->
					</div>
				</div>
			</div>
		</header>
		<!-- PAGE CONTENT -->
		<!-- <div ng-show="!pageInicio" ng-include="ruta"></div> -->
		<div ng-view></div>


		<!-- FOOTER -->
		<footer id="footer-container">
			<div id="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">

							<div class="widget widget-contact">
								<h6 class="widget-title">Customer Service</h6>
								<div class="row">
									<div class="col-sm-4" ng-if="dataWeb.telefono">
										<i class="va-middle fa fa-phone" style="font-size: 36px;"></i>
										<span class="va-middle ml-md">{{dataWeb.telefono}}</span>
									</div>
									<div class="col-sm-4" ng-if="dataWeb.whatsapp">
										<i class="va-middle fa fa-whatsapp" style="font-size: 36px;"></i>
										<span class="va-middle ml-md">{{dataWeb.whatsapp}}</span>
									</div>
									<div class="col-sm-4" ng-if="dataWeb.correo">
										<i class="va-middle fa fa-envelope" style="font-size: 36px;"></i>
										<a class="va-middle ml-md" href="mailto:{{dataWeb.correo}}">{{dataWeb.correo}}</a>
									</div>
								</div>

							</div><!-- widget-contact -->

						</div><!-- col -->
					</div><!-- row -->
				</div><!-- container -->

			</div><!-- footer-top -->
			<div id="footer-middle" class="p-n">
			</div>
			<div id="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="widget widget-text">
								<div class="text-center">
									<img src="assets/images/footer-logo.png" alt="">
									<p><small>{{dataWeb.autor_we}} 2018 &copy; All rights reserved</small></p>
								</div>
							</div><!-- widget-text -->

						</div><!-- col -->
					</div><!-- row -->
				</div><!-- container -->
			</div><!-- footer-bottom -->

		</footer><!-- FOOTER CONTAINER -->




	</div><!-- MAIN CONTAINER -->

	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- CUSTOM & PAGES STYLE -->
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel="stylesheet" href="assets/css/pages-style.css">

	<!-- FANCYBOX -->
	<link rel="stylesheet" href="assets/plugins/fancybox/jquery.fancybox.css">
	<script>
      document.write('<base href="' + document.location + '" />');
    </script>
	<!-- SCROLL UP -->
	<a id="scroll-up" class="waves"><i class="fa fa-angle-up"></i></a>

	<!-- jQUERY -->
	<script src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>
	<!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="admin/bower_components/angular/angular.min.js"></script>
	<script src="admin/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!-- <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls-0.14.1.min.js"></script> -->
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<!-- <script src="bower_components/angular-cookies/angular-cookies.js"></script> -->
	<!-- <script src="bower_components/ng-facebook/ngFacebook.js"></script> -->
	<script src="admin/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<!-- <script src="bower_components/angular-g-recaptcha/angular-g-recaptcha.js"></script> -->
	<!-- <script src="bower_components/ngGallery/src/js/ngGallery.js"></script> -->
	<!-- <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script> -->

	<!-- VIEWPORT -->
	<script src="assets/plugins/viewport/jquery.viewport.js"></script>

	<!-- MENU -->
	<script src="assets/plugins/menu/hoverIntent.js"></script>
	<script src="assets/plugins/menu/superfish.js"></script>

	<!-- FANCYBOX -->
	<script src="assets/plugins/fancybox/jquery.fancybox.pack.js"></script>



	<!-- CUSTOM JS -->

	<script src="assets/js/custom.js"></script>
	<script src="assets/js/config.js"></script>
	<script src="assets/js/index.module.js"></script>
	<script src="assets/js/index.config.js"></script>
	<script src="assets/js/index.controller.js"></script>
	<script src="assets/js/index.constants.js"></script>


	<script src="assets/js/controllers/Login.js"></script>

</body>
</html>