<div class="page page-extra pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Inicio</a></li>
    <li class="active">Tienda</li>
  </ol>
  <div class="row">
    <div class="col-md-12">
      <div class="tile p-15" ng-if="ctrl.modoSeleccionar">
        <section class="tile-header pl-0">
          <h1 class="heading">Seleccionar Productos</h1>
          <div class="controls">
            <!-- <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;"ng-click="ctrl.cargarGaleria();" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>

        <ul class="mix-controls">
          <li class="select-all">
            <label class="checkbox minotaur-checkbox inline-block m-0">Todos
              <input type="checkbox" ng-model="selectedAll" ng-click="ctrl.selectAll()"><div class="input-indicator"></div>
            </label>
          </li>

          <li ng-class="{'disabled': !ctrl.isSelected}" ng-click='ctrl.btnDescargarFiles();'>
            <a href="javascript:;"><i class="fa fa-download" ></i> Descargar</a>
          </li>

          <li class="pull-right select-all" style="font-size: 15px;font-weight: 600">
            <i class="fa fa-shopping-cart" ></i> <span style="color:#1199d3;">{{ctrl.monto_total}}</span></a>
          </li>
        </ul>
        <div class="row mix-grid">
          <div class="gallery" ng-mixitup magnific-popup="{
            delegate: 'a.img-preview',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1]
            }
           }"
          >
            <div class="col-md-4 col-sm-6 mb-20 mix {{image.category}}" ng-class="{'selected': image.selected}" ng-repeat="image in ctrl.images">
              <div class="img-container">
                <img class="img-responsive" ng-src="{{image.src}}" alt="">
                <div class="img-details-static">
                  <h4>{{image.title}}</h4>
                  <div class="img-controls">
                    <a href="javascript:;" class="img-select" ng-click="ctrl.selectImage($index)">
                      <i class="fa fa-square-o" ng-show="!image.selected"></i>
                      <i class="fa fa-check-square-o" ng-show="image.selected"></i>
                    </a>

                    <a class="img-preview" href="{{image.src}}" title="{{image.title}}">
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile p-15" ng-if="ctrl.modoPagar">
        <section class="tile-header pl-0">
          <h1 class="heading">Resumen</h1>
          <div class="controls">
            <div class="form-group pull-right" >
                <button class="btn btn-warning" style="font-size:14px;color:#fff;" ng-click="ctrl.btnVolver()">
                  <i class="halcyon-icon-back"></i> Regresar
                </button>
                <div class="pull-right mt-10 ml-10" style="font-size: 15px;font-weight: 600">
                  <i class="fa fa-shopping-cart" ></i> <span style="color:#1199d3;">{{ctrl.monto_total}}</span>
                </div>
            </div>
            <!-- <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>
        <div class="row mix-grid">
          <div class="gallery" ng-mixitup magnific-popup="{
            delegate: 'a.img-preview',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1]
            }
           }"
          >
            <div class="col-md-2 col-sm-4 mb-20 mix {{image.category}}" ng-class="{'selected': image.selected}" ng-repeat="image in ctrl.images" ng-if="image.selected">
              <div class="img-container">
                <img class="img-responsive" ng-src="{{image.src}}" alt="">
                <div class="img-details-price form-group">
                  <label class="col-sm-12 control-label minotaur-label"><i class="fa fa-money"></i> {{image.precio}} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right" > 
          <p style="font-size: 16px;font-weight: bold;color:#1199d3;">Total a pagar: {{ctrl.monto_total}}</p> 
          <button class="pull-right btn btn-input-sm btn-success mt-5" type="button" ng-click="ctrl.btnPagar();">Pagar</button>
        </div>
      </div>

      <div class="tile p-15" style="min-height: 400px;" ng-if="ctrl.modoDescargaCompleta">
        <section class="tile-header pl-0">
          <h1 class="heading">Compra Exitosa</h1>
          <div class="controls">
            <!-- <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;"ng-click="ctrl.cargarGaleria();" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="text-custom text-center mb-5">Gracias por tu compra!</h2>
            <h3 class="text-custom text-center text-cyan mt-0">Califica nuestro servicio.</h3>
            <div class="rating-stars">              
              <span ng-click="ctrl.calificar(5);" >☆</span>
              <span ng-click="ctrl.calificar(4);">☆</span>
              <span ng-click="ctrl.calificar(3);">☆</span>
              <span ng-click="ctrl.calificar(2);">☆</span>
              <span ng-click="ctrl.calificar(1);">☆</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
