<div class="page page-extra pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">{{ 'Menu.DASHBOARD' | translate }}</a></li>
    <li class="active">{{ 'Menu.TIENDA' | translate }}</li>
  </ol>
  <div class="row">
    <div class="col-md-12">
      <div class="tile p-15" ng-if="ctrl.modoSeleccionar">
        <section class="tile-header">
          <div class="row">
            <div class="col-sm-12"><h1 class="heading">TIENDA</h1></div>

            <!-- <div class="col-md-12 f-18 mb text-info">{{ 'Text.SEL_PAQUETE' | translate }}</div> -->
            <div class="col-sm-12" >
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- <div class="card-container col-lg-3 col-sm-6 col-sm-12" ng-repeat="item in ctrl.listaPaquetes">
                <div class="card" ng-click="ctrl.selPaquete(item.idpaquete)">
                  <div class="front text-center" ng-class="{'bg-lightred': item.selected, 'bg-lightgray':!item.selected}">
                    <div class="row">
                      <div class="col-xs-12">
                        <p class="text-lg line-lg text-strong">{{ctrl.listaExcursiones[0].titulo_act}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div><i class="fa fa-camera fa-2x"></i></div>
                        <div>{{item.cantidad}} fotos + video</div>
                      </div>
                      <div class="col-xs-6">
                        <div><i class="fa fa-usd fa-2x"></i></div>
                        <div>US$ {{item.monto}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="back text-center p-md" ng-class="{'bg-lightred': item.selected, 'bg-lightgray':!item.selected}">
                    <div class="row" style="height: 50%">
                      <div class="col-xs-12">
                        <p class="text-lg line-lg text-strong">{{ctrl.listaExcursiones[0].titulo_act}}</p>
                        <p class="text-md line-md">{{item.cantidad}} fotos al precio de US$ {{item.monto}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div><i class="fa fa-camera"></i></div><div>Foto suelta + US$ {{ctrl.listaExcursiones[0].precio_primera}}</div>
                      </div>
                      <div class="col-xs-6">
                        <div><i class="fa fa-camera"></i></div><div>Adicional + US$ {{ctrl.listaExcursiones[0].precio_por_adicional}}</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div> -->
            <div class="btn-group mb-5">
              <label class="btn btn-default pack" ng-model="ctrl.radioModel" uib-btn-radio="'Pack'" ng-class="{'bg-lightred': ctrl.esPack, 'bg-lightgray':!ctrl.esPack}" ng-click="ctrl.selPaquete()">
                <div class="row">
                  <div class="col-xs-12">
                      <p class="text-lg line-lg text-strong">{{ctrl.listaExcursiones[0].titulo_act}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div><i class="fa fa-camera fa-2x"></i></div>
                    <div>{{ctrl.listaPaquetes[0].cantidad}} fotos + video</div>
                  </div>
                  <div class="col-xs-6">
                    <div><i class="fa fa-usd fa-2x"></i></div>
                    <div>US$ {{ctrl.listaPaquetes[0].monto}}</div>
                  </div>
                </div>
              </label>
              <label class="btn btn-default pack ml-lg" ng-model="ctrl.radioModel" uib-btn-radio="'Sueltas'" ng-class="{'bg-lightred': !ctrl.esPack, 'bg-lightgray':ctrl.esPack}" ng-click="ctrl.selPaquete()">
                <div class="row">
                  <div class="col-xs-12">
                      <p class="text-lg line-lg text-strong">{{ctrl.listaExcursiones[0].titulo_act}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div><i class="fa fa-camera fa-2x"></i></div>
                    <div>1 Foto</div>
                  </div>
                  <div class="col-xs-6">
                    <div><i class="fa fa-usd fa-2x"></i></div>
                    <div>US$ {{ctrl.listaExcursiones[0].precio_primera}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div>Adicionales</div>
                  </div>
                  <div class="col-xs-6">
                    <div>US$ {{ctrl.listaExcursiones[0].precio_por_adicional}}</div>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 f-18 mb text-info">{{ 'Text.SEL_PRODUCTO' | translate }}</div>
          </div>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" ng-click="ctrl.cargarGaleria();" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>

        <ul class="mix-controls">
          <!-- <li class="select-all" ng-class="{'disabled': !ctrl.images.length}">
            <label class="checkbox minotaur-checkbox inline-block m-0" >{{ 'Text.TODOS' | translate }}
              <input type="checkbox" ng-model="selectedAll" ng-click="ctrl.selectAll()" ng-disabled="!ctrl.images.length"><div class="input-indicator"></div>
            </label>
          </li> -->

          <li class="btn" ng-class="{'disabled': !ctrl.isSelected}" ng-click='ctrl.confirmDescarga();'>
            <a href="javascript:;"><i class="halcyon-icon-next" ></i> {{ 'Form.NEXT' | translate }}</a>
          </li>

         <!--  <li class="pull-right select-all" style="font-size: 15px;font-weight: 600">
            <i class="fa fa-shopping-cart" ></i> <span style="color:#1199d3;">{{ctrl.monto_total}}</span></a>
          </li> -->
        </ul>

        <div class="row mix-grid" masonry>
          <div class="gallery" ng-mixitup magnific-popup="{
            delegate: 'a.img-preview',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1]
            }
           }"
          >
            <div class="masonry-brick col-md-3 col-sm-6 m-20 mix {{image.category}}" ng-class="{'selected': image.selected}" ng-repeat="image in ctrl.images">

              <div class="img-container ">
                <!-- <div class="ribbon-wrapper-green" ng-if="image.descargado == 1"><div class="ribbon-green">SOLD!</div></div> -->
                <img class="img-responsive" ng-src="{{image.src}}" alt="">
                <div class="">
                  <h4>{{image.title}}</h4>
                  <div class="img-controls">
                    <a href="javascript:;" class="img-select" ng-click="ctrl.selectImage($index)" ng-if="image.descargado == 2">
                      <i class="fa fa-square-o" ng-show="!image.selected"></i>
                      <i class="fa fa-check-square-o" ng-show="image.selected"></i>
                    </a>

                    <a class="img-preview" href="{{image.src}}" title="{{image.title}}">
                      <i class="fa fa-search"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row waterMarkEmptyData" ng-show="!ctrl.images.length" style="position: relative; top: 0;">
          NO SE ENCONTRARON PRODUCTOS
        </div>
        <ul class="mix-controls">
          <li class="btn pull-right" ng-class="{'disabled': !ctrl.isSelected}" ng-click='ctrl.confirmDescarga();'>
            <a href="javascript:;"><i class="halcyon-icon-next" ></i> {{ 'Form.NEXT' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="tile p-15" ng-if="ctrl.modoPagar">
        <section class="tile-header pl-0">
          <h1 class="heading">Resumen</h1>
          <div class="controls">
            <div class="form-group pull-right" >
                <button class="btn btn-warning" style="font-size:14px;color:#fff;" ng-click="ctrl.btnVolver()">
                  <i class="halcyon-icon-back"></i> Regresar
                </button>
                <!-- <div class="pull-right mt-10 ml-10" style="font-size: 15px;font-weight: 600">
                  <i class="fa fa-shopping-cart" ></i> <span style="color:#1199d3;">{{ctrl.monto_total}}</span>
                </div> -->
            </div>
            <!-- <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>
        <!-- <ul class="mix-controls">
          <li ng-click='ctrl.btnPedidos();' ng-if="!fSessionCI.es_salida">
            <a href="javascript:;"><i class="fa fa-gift" ></i> {{ 'Text.MERCHANDISING' | translate }}</a>
          </li>
        </ul> -->
        <!-- GALERIA RESUMEN -->
        <div class="row mix-grid" masonry ng-show="!ctrl.pedidoBool">
          <div class="gallery" ng-mixitup magnific-popup="{
            delegate: 'a.img-preview',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1]
            }
           }"
          >
            <div class="masonry-brick col-md-3 col-sm-4 mb-20 mix {{image.category}}" ng-class="{'selected': image.selected}" ng-repeat="image in ctrl.listaImagenes">
              <div class="img-container">
                <img class="img-responsive" ng-src="{{image.src}}" alt="">
              </div>
              <div class="img-details-static">
                <!-- <h4>{{image.title}}</h4> -->
                <!-- <div class="img-controls">
                  <a class="img-select" ng-if="!image.es_salida" href="javascript:;" ng-click="ctrl.btnPedidos(image)" uib-tooltip="Merchandising" tooltip-placement="right">
                    <i class="fa fa-gift"></i>
                  </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- MERCHANDISING -->
        <!-- <div class="row"  ng-show="ctrl.pedidoBool" ng-include="'app/pages/tienda/pedido.php'">
        </div> -->
        <!-- CESTA -->
        <div class="row">
          <div class="col-md-12 col-sm-12 mt-lg" >
            <div ui-grid="ctrl.gridOptions" ui-grid-auto-resize class="grid table-responsive clear"  ng-style="ctrl.getTableHeight();">
            </div>
          </div>
          <div class="form-inline col-md-12 col-sm-12 mt-lg text-right">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;"> TOTAL</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="ctrl.monto_total" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div>
         <!--  <div class="form-inline col-md-12 col-sm-12 text-right" ng-if="ctrl.datosVista.tiene_descuento">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;"> DESCUENTO</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="ctrl.monto_descuento" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div> -->
          <!-- <div class="form-inline col-md-12 col-sm-12 text-right" ng-if="ctrl.datosVista.tiene_descuento">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;"> {{ 'Text.IMPORTE' | translate }}</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="ctrl.importe_total" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div> -->
          <div class="form-inline col-md-12 col-sm-12 mt-xs text-right">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;"> {{ 'Text.SALDO_INICIAL' | translate }}</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="fSessionCI.monedero" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="form-inline col-md-12 col-sm-12 mt-xs text-right">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;">{{ 'Text.SALDO_FINAL' | translate }}</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="ctrl.saldo_final" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="form-inline col-md-12 col-sm-12 mt-xs text-right" ng-show="ctrl.monto_a_pagar > 0">
            <label class="control-label mr-xs text-info f-18" style="font-weight: bolder;"> {{ 'Text.TOTAL_PAGAR' | translate }}</label>
            <div class="input-group mb-10">
              <span class="input-group-addon">US$</span> <input type="text" class="pull-right text-right f-18" ng-disabled="true" ng-model="ctrl.monto_a_pagar" style="width: 80px; font-weight: bolder;"/> <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="col-md-12 mt">
            <label class="checkbox minotaur-checkbox inline-block m-0 pull-right">He leído y acepto los <a href="javascript:;" ng-click="ctrl.btnTerminosCondiciones();" >Términos y Condiciones</a>
              <input type="checkbox" ng-model="ctrl.selectedTerminos"><div class="input-indicator"></div>
            </label>
          </div>
          <div class="col-md-12 mt">
            <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5b mb-10 pull-right" ng-click="ctrl.btnPagar()"><i class="fa fa-dollar"></i> <span>{{ 'Text.PAGAR' | translate }}</span></button>
          </div>
        </div>

      </div>

      <div class="tile p-15" style="min-height: 400px;" ng-if="ctrl.modoDescargaCompleta">
        <section class="tile-header pl-0">
          <h1 class="heading">{{ 'Text.COMPRA_EXITOSA' | translate }}</h1>
          <div class="controls">
            <!-- <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;"ng-click="ctrl.cargarGaleria();" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="text-custom text-center mb-5">{{ 'Text.GRACIAS' | translate }}</h2>
            <h3 ng-if="!ctrl.modoCalificacionOk" class="text-custom text-center text-cyan mt-0">{{ 'Text.CALIFICA' | translate }}</h3>
            <h3 ng-if="ctrl.modoCalificacionOk" class="text-custom text-center text-cyan mt-0">{{ 'Text.GRACIAS_CALIFICA' | translate }}</h3>
            <div class="rating-stars" ng-if="!ctrl.modoCalificacionOk" >
              <span ng-click="ctrl.calificar(5);" >☆</span>
              <span ng-click="ctrl.calificar(4);">☆</span>
              <span ng-click="ctrl.calificar(3);">☆</span>
              <span ng-click="ctrl.calificar(2);">☆</span>
              <span ng-click="ctrl.calificar(1);">☆</span>
            </div>
            <div class="rating-stars-calificado" ng-if="ctrl.modoCalificacionOk" >
              <span ng-class="{'califica': 1 <= ctrl.calificacion}">★</span>
              <span ng-class="{'califica': 2 <= ctrl.calificacion}">★</span>
              <span ng-class="{'califica': 3 <= ctrl.calificacion}">★</span>
              <span ng-class="{'califica': 4 <= ctrl.calificacion}">★</span>
              <span ng-class="{'califica': 5 == ctrl.calificacion}">★</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="rating-stars-calificado" style="width: 260px">
              <div class="row m">
                <div class="col-sm-6 text-lg text-orange dk b-a b-cyan br-10">★★★★★</div><label class="col-sm-6 text-left bold mt-xs">{{ 'Text.EXCELENTE' | translate }}</label>
              </div>
              <div class="row m">
                <div class="col-sm-6 text-lg text-orange dk b-a b-cyan br-10">★★★★</div><label class="col-sm-6 text-left bold mt-xs">{{ 'Text.BUENO' | translate }}</label>
              </div>
              <div class="row m">
                <div class="col-sm-6 text-lg text-orange dk b-a b-cyan br-10">★★★</div><label class="col-sm-6 text-left bold mt-xs">{{ 'Text.REGULAR' | translate }}</label>
              </div>
              <div class="row m">
                <div class="col-sm-6 text-lg text-orange dk b-a b-cyan br-10">★★</div><label class="col-sm-6 text-left bold mt-xs">{{ 'Text.MALO' | translate }}</label>
              </div>
              <div class="row m">
                <div class="col-sm-6 text-lg text-orange dk b-a b-cyan br-10">★</div><label class="col-sm-6 text-left bold mt-xs">{{ 'Text.MUY_MALO' | translate }}</label>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
