/*
	AQUÍ IRÁ EL CÓDIGO CSS PERSONALIZADO
	Antes de crear algún estilo, verificar que no haya uno con la misma funcionalidad en el tema.
*/
/* CUSTOM by Ruben Guevara rguevarac@hotmail.es */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/

/* BACKGROUND COLORS */
	.bg-lightgray {background-color: #e0e0e0 !important; }
	.bg-lightblue {background-color: #dcedf5 !important;}
/* TEXTS COLORS */
	.text-blue	{color: #119ef6;}
	.text-black	{color: #1c2429;}
	.text-red	{color: #dd191d;}
	.text-green	{color: #038009;}
	.text-gray	{color: #ccc;}

/* FONT SIZE´s */
	.f-12{font-size: 12px;}
	.f-14{font-size: 14px;}
	.f-16{font-size: 16px;}
	.f-18{font-size: 18px;}
	.f-24{font-size: 24px;}
/* OTHERS */
	.clear {clear: both;}
	.demo-options {top: 70px;}
	ul.demo-btns > li.pull-right{ margin-left: 4px;}
	ul.demo-btns li > label { line-height: 0.7;}
	.modal-header{padding: 10px!important}
	.tab-wizard .nav-tabs > li > a{padding: 10px!important}
    .cbo-sm{
        width: 50px;
        padding: 5px;
        display: inline-block;
    }
.appWrap.core #content{
    background:#62a3a5;
}
/*para corregir error en scroll de ui-grid*/
.ui-grid-viewport { overflow-anchor: none;}

.ui-grid-viewport .ui-grid-cell button.btn-action {
	margin-left: 4px;
	width: 34px; }
.ui-grid-viewport .ui-grid-cell button.btn-action i {
		font-size: 15px; }

section.tile-body{
	margin-top: 0;
}
.waterMarkEmptyData {
    position: absolute;
    top : 80px;
    opacity: 0.40;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.page-consulta.tile{
	min-height: 500px;
}
/*login*/
.appWrap.core #content {

background: rgba(179,220,237,1);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(66,136,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(66,136,204,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(66,136,204,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(66,136,204,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(66,136,204,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(66,136,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#4288cc', GradientType=0 );

}
.alert.alert-success {
    background-color: #dff0d8;
    border-color: #04811c;
    color: #3c763d;
}
.alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert > .alert-success > .close{
    color:#3c763d!important;
}
.alert > .alert-danger > .close{
    color:#a94442!important;
}
.alert > .alert-warning > .close{
    color:#8a6d3b!important;
}
.alert {
    display: block;
    padding: 10px 25px;
    border: 1px solid;
    text-align: center;
}
.alert .close {
    color: #000;
}
.alert .close:hover {
    color: #ccc;
}
/*estilo barras consulta*/
.flexFwrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flexF {
    display: -webkit-flex;
    display: flex;
}

#progreso {
    width: 100%;
    margin-top: 5px;
}

#UbicacionProgreso {
    height: 33px;
}

#BarraProgreso {
    width: 100%;
    height: 35px;
}

.sombrainterior {
    -webkit-box-shadow: inset 0 30px 30px -29px rgba(255,255,255,.5);
    box-shadow: inset 0 30px 30px -29px rgba(255,255,255,.5);
}

#BarraProgreso div:not(.barraTitulo) {
    float: left;
    height: 40px;
}

.align-items-center {
    -webkit-align-items: center;
    align-items: center;
}

.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}

.barraTitulo {
    font-size: 12px;
    color: #000;
    word-break: break-word;
}

#progresoCifras {
    width: 100%;
}

#progresoCifras div {
    font-size: 14px;
    padding: 5px 0 10px 0;
    margin: 0;
}

.izquierda {
    float: left;
}

#progreso2 {
    width: 100%;
    margin-top: 5px;
}

#UbicacionProgreso2 {
    height: 33px;
}

#BarraProgreso2 {
    width: 100%;
    height: 35px;
}

#BarraProgreso2 div:not(.barraTitulo) {
    float: left;
    height: 35px;
}

.flexgraficos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width: 800px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.redondear2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
}

/*page-loading*/
#page-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    background-color: rgba(51, 51, 51, 0.65);
    visibility: hidden;
}

.page-loading-text{
    font-size: 25px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    position: relative;
    top: 50%;
}

#page-loading.visible{
    visibility: visible;
}

/* PNOTIFY */
.ui-pnotify .alert.ui-pnotify-container{
    padding: .8em;
    font-size: 12px;
}
.ui-pnotify .alert.ui-pnotify-container .ui-pnotify-icon, .ui-pnotify .alert.ui-pnotify-container h4 {
    font-size: 15px;
}
.ui-pnotify .ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .6em;
}

.tooltip-event{
    width:auto;
    height:auto;
    background:#000;
    color:#fff;
    position:absolute;
    z-index:10001;
    padding:4px;
    border-radius: 8px;
    font-size: 11px;
}

/*TEXTAREA*/
.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 210px;
}
.ta-scroll-window > .ta-bind {
    min-height: 210px;
}
/*BARRA HEADER*/
minotaur-header{
  padding: 0 30px 0 0;
}
minotaur-header .navbar-header .navbar-brand{
    padding: 5px;
}
minotaur-header .navbar-header .navigation-toggle{
    margin-left: 10px;
}

.my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }

    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }
.ui-grid-viewport .ui-editCell, .ui-editPanel{
    background-color: #fcfbcd !important;
    font-style: oblique !important;
}
/**fichas*/
.ficha .tile-header .icono{font-size: 1.8em;padding-right: 10px;}
.ficha .tile-header h4{display: inline;}

/*galeria*/
.mix-grid .mix.selected .img-controls .img-select {
    background: none;
}

.img-controls a{
    font-size: 20px;
}

.img-controls a i{
    position: relative;
    top: 10px;
}
.mix-grid .mix .img-details .img-controls > a{
    padding: 0px;
}
.mix-grid .mix .img-details h4 {
    margin-top: 25%;
}
/*puntuacion*/
.rating-stars{
    width: 80%;
    margin: auto;
    text-align: center;
}

.rating-stars {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating-stars > span {
  display: inline-block;
  position: relative;
  color:#d3d3d3;
  width: 1.1em;
  font-size: 50px;
}
.rating-stars > span:hover:before,
.rating-stars > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: orange;
}
