<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">{{'Menu.DASHBOARD' | translate}}</a></li>
    <li class="active">Pedido</li>
  </ol>
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Pedidos</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" ng-click="pe.getPaginationServerSide()" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <!-- <minotaur-tile-close></minotaur-tile-close> -->
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body">
          <form name="formPedido" role="form" novalidate class="row form-validation">
            <div class="form-group col-md-3 col-sm-12">
              <label class="control-label minotaur-label"> Desde </label>
              <input type="text" class="form-control" ng-model="pe.fBusqueda.desde" input-mask mask-options="{alias: 'dd-mm-yyyy'}" required>
            </div>
            <div class="form-group col-md-3 col-sm-12">
              <label class="control-label minotaur-label"> Hasta </label>
              <input type="text" class="form-control" ng-model="pe.fBusqueda.hasta" input-mask mask-options="{alias: 'dd-mm-yyyy'}" required>
            </div>
            <div class="form-group col-md-3 col-sm-12">
              <input type="button" class="btn btn-info mt-lg" value="PROCESAR" ng-click="pe.getPaginationServerSide();"  ng-disabled="formPedido.$invalid" />
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div ui-grid="pe.gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-pagination class="grid table-responsive clear"></div>
            </div>
          </div>
        </section>
        <!-- /tile body -->
      </div>
      <!-- /tile -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
