<div class="page page-extra pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Inicio</a></li>
    <li class="active">Mi Galeria</li>
  </ol>
  <div class="row">
    <div class="tile p-15">
      <section class="tile-header pl-0">
        <h1 class="heading">Mi Galeria</h1>
        <div class="controls">
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
            <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
              <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
              <li role="menuitem"><a href="javascript:;" ng-click="ga.cargarGaleria();" minotaur-tile-refresh></a></li>
              <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
              <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
            </ul>
          </div>
          <minotaur-tile-close></minotaur-tile-close>
        </div>
      </section>

      <ul class="mix-controls">
        <li class="select-all">
          <label class="checkbox minotaur-checkbox inline-block m-0">Select all
            <input type="checkbox" ng-model="selectedAll" ng-click="ga.selectAll()"><div class="input-indicator"></div>
          </label>
        </li>

        <li ng-class="{'disabled': !ga.isSelected}" ng-click='ga.btnDescargarFiles();'>
          <a href="javascript:;"><i class="fa fa-download" ></i> Descargar</a>
        </li>
      </ul>
      <div class="row mix-grid">
        <div class="gallery" ng-mixitup magnific-popup="{
          delegate: 'a.img-preview',
          type: 'image',
          tLoading: 'Loading image #%curr%...',
          mainClass: 'mfp-img-mobile',
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1]
          }
         }"
        >
          <div class="col-md-4 col-sm-6 mb-20 mix {{image.category}}" ng-class="{'selected': image.selected}" ng-repeat="image in ga.images">
            <div class="img-container">
              <img class="img-responsive" ng-src="{{image.src}}" alt="">
              <div class="img-details-hover" style="float: right;">
                <div>
                  <!-- <a href="" socialshare
                    socialshare-provider="facebook"
                    socialshare-type="feed"
                    socialshare-via="145634995501895"
                    socialshare-media="http://720kb.net/assets/img/720kb-fb.png"
                    socialshare-text="720kb"
                    socialshare-caption="720kb is enough"
                    socialshare-url="http://720kb.net"
                    socialshare-quote="720kb Angular-Social-Share"
                    socialshare-hashtags="#720kb"
                    socialshare-popup-height="300"
                    socialshare-popup-width="400"
                    socialshare-trigger="click"
                    class="icon icon-primary icon-ef-2 icon-ef-2b hover-color">
                    <i class="fa fa-facebook"></i>
                  </a>-->

                  <a href="" socialshare
                  socialshare-provider="facebook"
                  socialshare-type="feed"
                  socialshare-via="145634995501895"
                  socialshare-url="{{image.src_share}}"
                  socialshare-text="Mira mi foto"
                  socialshare-hashtags="Caribean"
                  socialshare-popup-height="300"
                  socialshare-popup-width="400"
                  socialshare-trigger="click"
                    class="icon icon-primary icon-ef-2 icon-ef-2b hover-color">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="" socialshare
                    socialshare-provider="twitter"
                    socialshare-type="sharer"
                    socialshare-text="Mira mi foto en"
                    socialshare-via="caribbean.com"
                    socialshare-hashtags="Caribean"
                    socialshare-url="{{image.src_share}}"
                    socialshare-popup-height="300"
                    socialshare-popup-width="400"
                    socialshare-trigger="click"
                    class="icon icon-primary icon-ef-2 icon-ef-2b hover-color">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
              </div>
              <div class="img-details-static" style="float: left; position: relative; top: 8px;">
                <h4>{{image.title}}</h4>
                <div class="img-controls">
                  <a href="javascript:;" class="img-select" ng-click="ga.selectImage($index)">
                    <i class="fa fa-square-o" ng-show="!image.selected"></i>
                    <i class="fa fa-check-square-o" ng-show="image.selected"></i>
                  </a>

                  <a class="img-preview" href="{{image.src}}" title="{{image.title}}">
                    <i class="fa fa-search"></i>
                  </a>
                  <a class="img-select" ng-if="image.descargado == 1" href="javascript:;" ng-click="ga.btnPedidos($index)" uib-tooltip="Merchandising" tooltip-placement="top">
                    <i class="fa fa-gift"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
