<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Acceso de Clientes</li>
  </ol>
  <!-- row -->
  <div class="row">
    <!-- col para la grilla de clientes -->
    <div class="col-md-12">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Acceso de Clientes</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" ng-click="vm.getPaginationServerSide(true)" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body">
          <div class="row">
            <div class="form-group col-md-3 col-sm-12 mb">
              <label class="control-label minotaur-label"> EXCURSIONES </label>
              <select class="form-control"
                      ng-model="vm.fBusqueda.filtroExcursiones" ng-change="vm.getPaginationServerSide(true);"
                      ng-options="item.descripcion for item in vm.listaExcursionesFiltro"
                      aria-invalid="false" style="">
              </select>
            </div>

            <!-- <div class="col-md-9 col-sm-12">
              <div class="form-group pull-right mt-lg" style="position: relative;z-index: 10" ng-show="vm.gridOptions.data.length > 0">
                <button class="btn btn-default" ng-click='vm.btnExportarListaPdf()' title="Exportar a PDF">
                  <i class="fa fa-file-pdf-o text-danger f-18" ></i>
                </button>
              </div>
            </div> -->
            <div class="col-md-12 col-sm-12">
              <!-- <p ui-t="groupPanel.description"></p> -->
              <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pinning ui-grid-auto-resize ui-grid-pagination class="grid table-responsive clear" ng-style="vm.getTableHeight();">
              </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->
      </div>
      <!-- /tile -->
    </div>
  </div>
  <!-- /row -->
</div>
