<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Inicio</a></li>
    <li class="active">Perfil</li>
  </ol>
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Perfil</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;"ng-click="p.cargaPerfil();" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <section class="tile-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <form class="form-horizontal" role="form">
                <div class="tile-body row">
                  <div class="col-sm-12">
                    <button class="pull-right btn btn-input-sm btn-warning mb-0" type="button" ng-if="!p.modoEditar" ng-click="p.modoEditar=true">Editar</button>

                    <button class="pull-right btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-0" ng-if="p.modoEditar" ng-click="p.btnAceptarEditPerfil(p.fDataPerfil)"><i class="fa fa-arrow-right"></i> Guardar</button>
                    <button class="pull-right btn btn-lightred btn-ef btn-ef-4 btn-ef-4c mr-10 mb-0" ng-if="p.modoEditar" ng-click="p.btnCancelarEditPerfil()" style="padding: 6px 25px"><i class="fa fa-arrow-left"></i> Cancelar</button>
                  </div>
                  <div class="col-sm-8">
                    <h4 class="text-info f-16 col-sm-12">Datos Personales</h4>
                    <div class="form-group">
                      <label for="nombre" class="col-sm-3 control-label minotaur-label">Nombres: </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control  text-center ng-class:{'underline-input':!p.modoEditar};" id="nombres" placeholder="Nombres" ng-model="p.fDataPerfil.nombres" ng-readonly="!p.modoEditar">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="apellidos" class="col-sm-3 control-label minotaur-label">Apellidos: </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control  text-center ng-class:{'underline-input':!p.modoEditar};" id="apellidos" placeholder="Apellidos" ng-model="p.fDataPerfil.apellidos" ng-readonly="!p.modoEditar">
                      </div>
                    </div>
                    <h4 class="text-info f-14 col-sm-12">Datos de Contacto</h4>
                    <div class="form-group">
                      <label for="whatsapp" class="col-sm-3 control-label minotaur-label">WhatsApp: </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control  text-center ng-class:{'underline-input':!p.modoEditar};" id="whatsapp" placeholder="WhatsApp" ng-model="p.fDataPerfil.whatsapp" ng-readonly="!p.modoEditar">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-3 control-label minotaur-label">Email : </label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control  text-center ng-class:{'underline-input':!p.modoEditar};" id="email" placeholder="micorreo@dominio.com" ng-model="p.fDataPerfil.email" ng-readonly="!p.modoEditar">
                      </div>
                    </div>
                    <h4 class="text-info f-14 col-sm-12">Configuracion de perfil</h4>
                    <div class="form-group">
                      <label for="idioma" class="col-sm-3 control-label minotaur-label">Idioma: </label>
                      <div class="col-sm-9">
                        <p type="text" class="form-control underline-input text-center" ng-if="!p.modoEditar">{{p.fDataPerfil.idioma}} </p>
                        <select class="form-control" ng-if="p.modoEditar" ng-model="p.fDataPerfil.ididioma" ng-options="item.ididioma as item.nombre for item in p.listaIdiomas" required > </select>
                      </div>
                    </div>

                    <button class="pull-left btn btn-input-sm btn-primary mt-15" type="button" ng-if="!p.cambiarClave" ng-click="p.cambiarClave=true">Cambiar contraseña</button>

                    <button class="pull-right btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-0" ng-if="p.cambiarClave" 
                            ng-click="p.btnGuardarClave(p.fDataPerfil)"><i class="fa fa-arrow-right"></i> Guardar</button>
                    <button class="pull-right btn btn-lightred btn-ef btn-ef-4 btn-ef-4c mr-10 mb-0" ng-if="p.cambiarClave" 
                            ng-click="p.btnCancelClave();" style="padding: 6px 25px"><i class="fa fa-arrow-left"></i> Cancelar</button>

                    <h4 ng-if="p.cambiarClave" class="text-info f-14 col-sm-12">Cambiar contraseña</h4>
                    <div ng-if="p.cambiarClave" class="form-group">
                      <label for="clave" class="col-sm-4 control-label minotaur-label">Ingresa contraseña actual: </label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control  text-center" id="clave" placeholder="Contraseña" ng-model="p.fDataPerfil.clave">
                      </div>                      
                    </div>
                    <div ng-if="p.cambiarClave" class="form-group">
                      <label for="nuevaclave" class="col-sm-4 control-label minotaur-label">Ingresa contraseña nueva: </label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control  text-center" id="nuevaclave" placeholder="Nueva Contraseña" ng-model="p.fDataPerfil.nuevaclave">
                      </div>                      
                    </div>
                    <div ng-if="p.cambiarClave" class="form-group">
                      <label for="password" class="col-sm-4 control-label minotaur-label">Repite contraseña nueva: </label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control  text-center" id="password" placeholder="Repite Contraseña" ng-model="p.fDataPerfil.password">
                      </div>                      
                    </div>
                  </div>
                  <!-- <div class="col-sm-4">
                    <h4 class="text-info f-14 col-sm-12">Foto</h4>
                    <div class="text-center" ng-if="!p.fotoCrop">
                      <img ng-src="assets/images/dinamic/clientes/{{p.fDataPerfil.nombre_foto}}" style="width: 100%">
                    </div>

                    <div class="row" ng-show="p.fotoCrop">
                      <div class="col-md-12">
                        <div class="p-10 bg-white b-a b-solid" style="height:180px">
                          <img-crop
                            image="p.image.originalImage"
                            result-image="p.image.croppedImage"
                            result-image-size="160"
                            area-type="{{p.cropType}}"
                          ></img-crop>
                        </div>
                      </div>
                      <div class="col-md-12" ng-show="false">
                        <div class="p-15 bg-white b-a b-solid inline-block">
                          <img ng-src="{{p.image.croppedImage}}" />
                        </div>
                      </div>
                    </div>
                    <input type="file" class="filestyle" filestyle="{
                        buttonText: 'Select image',
                        iconName: 'fa fa-file-image-o'
                      }" id="fileInput2" ng-click="p.cargarImagen();" >

                    <div class="text-center mt-10" ng-show="p.fotoCrop" >
                      <button class="btn btn-sm btn-danger" ng-click="p.cancelarFoto();">Cancelar</button>
                      <button class="btn btn-sm btn-success" ng-click="p.subirFoto();">Guardar Foto</button>
                    </div>
                    <button class="btn btn-sm btn-danger mt-10" ng-click="p.eliminarFoto();" ng-show="p.fDataPerfil.nombre_foto != 'sin-imagen.png'">Quitar Foto</button>
                  </div>  -->
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
