<div class="nav-heading">
  <h3 class="text-center">{{ 'Menu.MENU_PRINCIPAL' | translate }}</h3>
</div>

<div slimscroll="{
      height: '100%',
      size: '4px',
      borderRadius: '0px',
      opacity: .2
     }">

  <ul class="nav nav-sidebar" ng-if="fSessionCI">
    <li ng-class="{'active':$state.includes('dashboard')}" ng-show="valores[0]">
      <a ng-click="$state.reload();" ui-sref="dashboard">
        <span class="nav-text">{{ 'Menu.DASHBOARD' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>

    <!-- ROLES DEL CLIENTE -->
    <li ng-class="{'active':$state.includes('shop')}" ng-show="valores[1]">
      <a ng-click="$state.reload();" ui-sref="shop">
        <span class="nav-text">{{ 'Menu.TIENDA' | translate }}</span>
        <i class="fa fa-shopping-cart"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('my-gallery')}" ng-show="valores[2]">
      <a ng-click="$state.reload();" ui-sref="my-gallery">
        <span class="nav-text">{{ 'Menu.GALERIA' | translate }}</span>
        <i class="fa fa-image"></i>
      </a>
    </li>
    <!-- <li ng-class="{'active':$state.includes('perfil')}" ng-show="valores[12]">
      <a ng-click="$state.reload();" ui-sref="perfil">
        <span class="nav-text">{{ 'Menu.PERFIL' | translate }}</span>
        <i class="fa fa-user"></i>
      </a>
    </li> -->
    
    <li ng-class="{'active':$state.includes('logout')}">
        <a ng-click="btnLogoutToSystem();" ui-sref="logout">
        <span class="nav-text">{{ 'Text.LOGOUT' | translate }}</span>
        <i class="fa fa-power-off"></i>
      </a>

    </li>
  </ul>
</div>
