<!-- PAGE CONTENT -->
	<div id="page-content">

		<div id="page-header">

			<div class="ken-burn" style="background-image:url(images/backgrounds/page-header-14.jpg);"></div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<h1>Blog</h1>

						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Blog right sidebar</li>
						</ol>

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->

		</div><!-- page-header -->

		<div class="container" id="blog">
            <div class="row">
                <div class="col-sm-9">

                    <div class="blog-article">

						<div class="blog-article-thumbnail">

							<a href="blog-post-right-sidebar.html"><img src="images/blog/image-10.jpg" alt=""></a>

						</div><!-- blog-article-thumbnail -->

						<a class="date" href="#">22 <small>Dec</small></a>

						<h6 class="blog-article-subtitle"><a href="#">Lifestyle &amp; Travel</a></h6>

						<h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">The true story about company started</a></h4>

						<div class="blog-article-details">
							by <a class="author" href="#">Laura James</a>
							in <a class="category" href="#">Uncategorized</a>
							<a class="comments" href="#">2 comments</a>
						</div>

						<div class="blog-article-content">

							<p>Ut eget maximus leo. Aenean metus quam, tincidunt et tortor a, vulputate mollis
							eros. Nulla gravida ante quam, id condimentum odio fermentum vestibulum. Suspendisse
							vestibulum, nunc quis vestibulum sagittis, erat libero dapibus purus, vitae blandit
							ante diam quis odio.</p>

							<a href="blog-post-right-sidebar.html">Read more</a>

						</div><!-- blog-article-content -->

					</div><!-- blog-article -->

					<div class="blog-article">

						<div class="blog-article-thumbnail">

							<div class="owl-carousel images-slider">
								<div class="item">
									<img src="images/blog/image-11.jpg" alt="">
								</div><!-- item -->
								<div class="item">
									<img src="images/blog/image-12.jpg" alt="">
								</div><!-- item -->
								<div class="item">
									<img src="images/blog/image-13.jpg" alt="">
								</div><!-- item -->
							</div><!-- images-slider -->

						</div><!-- blog-article-thumbnail -->

						<a class="date" href="#">20 <small>Dec</small></a>

						<h6 class="blog-article-subtitle"><a href="#">Lifestyle &amp; Travel</a></h6>

						<h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">Blog post with slider</a></h4>

						<div class="blog-article-details">
							by <a class="author" href="#">Laura James</a>
							in <a class="category" href="#">Uncategorized</a>
							<a class="comments" href="#">5 comments</a>
						</div>

						<div class="blog-article-content">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis, lacus pretium
							vehicula vulputate, est libero vestibulum quam, vel euismod sem neque ac risus. Praesent sit
							amet semper lacus. Sed malesuada lorem vel metus posuere gravida. Curabitur sodales hendrerit
							gravida. Sed imperdiet pellentesque dui.</p>

							<a href="blog-post-right-sidebar.html">Read more</a>

						</div><!-- blog-article-content -->

					</div><!-- blog-article -->

					<div class="blog-article">

						<a class="date" href="#">17 <small>Dec</small></a>

						<h6 class="blog-article-subtitle"><a href="#">Business &amp; Finance</a></h6>

						<h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">Blog post without thumbnail</a></h4>

						<div class="blog-article-details">
							by <a class="author" href="#">Laura James</a>
							in <a class="category" href="#">Uncategorized</a>
							<a class="comments" href="#">4 comments</a>
						</div>

						<div class="blog-article-content">

							<p>Pellentesque et metus at magna fringilla ultricies vitae quis diam. Maecenas iaculis augue
							orci, vel pretium ex rhoncus lacinia. Vestibulum purus nunc, posuere eget mauris at, finibus
							finibus nisl. Mauris tempor posuere metus quis convallis. Integer sapien eros, malesuada
							luctus posuere at, viverra ac erat.</p>

							<a href="blog-post-right-sidebar.html">Read more</a>

						</div><!-- blog-article-content -->

					</div><!-- blog-article -->

					<div class="blog-article">

						<div class="blog-article-thumbnail">

							<a href="#blog-post-right-sidebar.html"><img src="images/blog/image-14.jpg" alt=""></a>

						</div><!-- blog-article-thumbnail -->

						<a class="date" href="#">15 <small>Dec</small></a>

						<h6 class="blog-article-subtitle"><a href="#">Creative fields</a></h6>

						<h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">5 ways to get rid of your headeach</a></h4>

						<div class="blog-article-details">
							by <a class="author" href="#">Laura James</a>
							in <a class="category" href="#">Uncategorized</a>
							<a class="comments" href="#">7 comments</a>
						</div>

						<div class="blog-article-content">

							<p>Praesent vel diam et ante tincidunt varius. Pellentesque porttitor quis velit sit amet
							tristique. In convallis odio orci, non gravida leo interdum ut. In dapibus commodo justo et
							tempor. Maecenas aliquam dolor vitae ornare aliquam. Fusce tempor nibh orci, ultrices mattis
							arcu pharetra vel. Nunc consequat tempor tortor.</p>

							<a href="blog-post-right-sidebar.html">Read more</a>

						</div><!-- blog-article-content -->

					</div><!-- blog-article -->

                </div><!-- col -->
				<div class="col-sm-3">

					<div class="widget widget-search">

						<form name="search" novalidate method="get" action="#">
							<fieldset>
								<input id="s" type="search" name="search" placeholder="" required>
								<label for="s">Search</label>
								<input type="submit" name="submit" value="">
							</fieldset>
						</form>

					</div><!-- widget-search -->

					<div class="widget widget-archives">

						<h6 class="widget-title">Archives</h6>

						<ul>
							<li><a href="#">October 2016</a></li>
							<li><a href="#">November 2016</a></li>
							<li><a href="#">December 2016</a></li>
						</ul>

					</div><!-- widget-archives -->

					<div class="widget widget-categories">

						<h6 class="widget-title">Categories</h6>

						<ul>
							<li><a href="#">Entertaiment</a></li>
							<li><a href="#">Business &amp; Finance</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Creative fields</a></li>
							<li><a href="#">Lifestyle &amp; Travel</a></li>
							<li><a href="#">Uncategorized</a></li>
						</ul>

					</div><!-- widget-categories -->

					<div class="widget widget-recent-posts">

						<h6 class="widget-title">Recent Posts</h6>

						<ul>
							<li>
								<img src="images/blog/blog-post/post-1.jpg" alt="">
								<a class="post-title" href="#">Why is this industry on...</a>
								<div class="post-details">
									by <a class="post-author" href="#">Jane Smith</a>
									<a class="post-date" href="#">22 Dec</a>
								</div><!-- post-details -->
							</li>
							<li>
								<img src="images/blog/blog-post/post-2.jpg" alt="">
								<a class="post-title" href="#">The true story about...</a>
								<div class="post-details">
									by <a class="post-author" href="#">Jane Smith</a>
									<a class="post-date" href="#">20 Dec</a>
								</div><!-- post-details -->
							</li>
							<li>
								<img src="images/blog/blog-post/post-3.jpg" alt="">
								<a class="post-title" href="#">5 ways to get rid of...</a>
								<div class="post-details">
									by <a class="post-author" href="#">Jane Smith</a>
									<a class="post-date" href="#">18 Dec</a>
								</div><!-- post-details -->
							</li>
							<li>
								<img src="images/blog/blog-post/post-4.jpg" alt="">
								<a class="post-title" href="#">How to get started in...</a>
								<div class="post-details">
									by <a class="post-author" href="#">Jane Smith</a>
									<a class="post-date" href="#">15 Dec</a>
								</div><!-- post-details -->
							</li>
						</ul>

					</div><!-- widget-recent-posts -->

					<div class="widget widget-instagram">

						<h6 class="widget-title">Instagram</h6>

						<div id="instafeed" data-user="2000086078" data-number="6" data-accesstoken="2000086078.1677ed0.bd2c323b815b445fa0027cb85c99918d"></div>

					</div><!-- widget-instagram -->

					<div class="widget widget-recent-comments">

						<h6 class="widget-title">Recent comments</h6>

						<ul>
							<li><a href="#">Cristinne </a> on <a href="#">Good Investments</a></li>
							<li><a href="#">Michael </a> on <a href="#">Best Vines</a></li>
							<li><a href="#">Louise </a> on <a href="#">The Black Sea</a></li>
							<li><a href="#">Damon </a> on <a href="#">Banking Strategies</a></li>
						</ul>

					</div><!-- widget-recent-comments -->

					<div class="widget widget-text">

						<h6 class="widget-title">Your add here</h6>

						<div>

							<img src="images/blog/blog-post/add.jpg" alt="">

						</div>

					</div><!-- widget-text -->

					<div class="widget widget-latest-posts">

						<h6 class="widget-title">Most loved</h6>

						<ul>
							<li>
								<a class="post-date" href="#">22 <small>Dec</small></a>
								<a class="post-category" href="#">Lifestyle</a>
								<a class="post-title" href="#">The true story about company</a>
							</li>
							<li>
								<a class="post-date" href="#">20 <small>Dec</small></a>
								<a class="post-category" href="#">Banking </a>
								<a class="post-title" href="#">5 ways to get rid of your headeach</a>
							</li>
						</ul>

					</div><!-- widget-recent-posts -->

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->

		<div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <ul class="pagination">
						<li class="active"><a href="#">1.</a></li>
						<li><a href="#">2.</a></li>
						<li><a href="#">3.</a></li>
					</ul>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->

	</div><!-- PAGE CONTENT -->