<div class="container-fluid" data-ng-style="{'max-width':'1920px'}">
    <!-- slider parent container -->
    <section class="content-section" data-ng-style="{'max-width':'1920px', 'margin':'0 auto'}">
      <!-- slider container -->
		<div class="rev_slider_wrapper" style="background-color:#ddd;margin:0px auto;padding:0px;margin-top:50px;margin-bottom:80px;">
        	<!-- angular-revolution as attribute in div -->
	        <div rev-slider ng-if="slides"
	          id="rev_slider"
	          class="rev_slider"
	          data-version="5.1.1RC"
	          slider-Type="{{slider.sliderType}}"
	          slider-Layout="{{slider.sliderLayout}}"
	          responsive-Levels="{{slider.responsiveLevels}}"
	          gridwidth="{{slider.gridwidth}}"
	          gridheight="{{slider.gridheight}}"
	          auto-Height="{{slider.autoHeight}}"
	          min-Height="{{slider.minHeight}}"
	          full-Screen-Offset-Container="{{slider.fullScreenOffsetContainer}}"
	          full-Screen-Offset="{{slider.fullScreenOffset}}"
	          delay="{{slider.delay}}"
	          disable-Progress-Bar="{{slider.disableProgressBar}}"
	          start-Delay="{{slider.startDelay}}"
	          stop-After-Loops="{{slider.stopAfterLoops}}"
	          stop-At-Slide="{{slider.stopAtSlide}}"
	          view-Port="{{slider.viewPort}}"
	          lazy-Type="{{slider.lazyType}}"
	          dotted-Overlay="{{slider.dottedOverlay}}"
	          shadow="{{slider.shadow}}"
	          spinner="{{slider.spinner}}"
	          hide-All-Caption-At-Lilmit="{{slider.hideAllCaptionAtLilmit}}"
	          hide-Caption-At-Limit="{{slider.hideCaptionAtLimit}}"
	          hide-Slider-At-Limit="{{slider.hideSliderAtLimit}}"
	          debug-Mode="{{slider.debugMode}}"
	          extensions="{{slider.extensions}}"
	          extensionssuffix="{{slider.extensions_suffix}}"
	          fallbacks="{{slider.fallbacks}}"
	          parallax="{{slider.parallax}}"
	          rev-Carousel="{{slider.carousel}}"
	          navigation="{{slider.navigation}}"
	          js-File-Location="{{slider.jsFileLocation}}"
	          visibility-Levels="{{slider.visibilityLevels}}"
	          hide-Thumbs-On-Mobile="{{slider.hideThumbsOnMobile}}"
	          slides="slides"
	          slider-Template-Url="templates/slider.tpl2.html"
	        >
	        </div>
      	</div>
    </section>
</div>

<div class="container" ng-if="seccionWeb" id="inicio">
	<div class="row">
		<div class="col-md-9">
			<h3>{{seccionWeb[1].contenedor[0].titulo}}</h3>
			<h5><strong>{{seccionWeb[1].contenedor[0].subtitulo}}</strong></h5>
			<br>
			<div ng-bind-html="seccionWeb[1].contenedor[0].contenido"></div>
			<br>
			<p><a class="btn btn-default-1 waves" href="#">Discover</a></p>
		</div><!-- col -->
		<div class="col-md-3" ng-if="seccionWeb[1].contenedor[0].acepta_imagen">
			<div class="row">
				<div class="col-sm-12">
					<p><img class="wow fadeInRight" ng-src="uploads/banners/LATERAL/{{seccionWeb[1].contenedor[0].imagen}}" alt=""></p>
				</div><!-- col -->
				<!-- <div class="col-sm-6">
					<p><img class="wow fadeInRight" src="images/index/image-21.jpg" alt="" data-wow-delay="0.1s"></p>
				</div> --><!-- col -->
			</div><!-- row -->

		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->