<div class="nav-heading">
  <h3 class="text-center">MENÚ PRINCIPAL</h3>
</div>

<div slimscroll="{
      height: '100%',
      size: '4px',
      borderRadius: '0px',
      opacity: .2
     }">

  <ul class="nav nav-sidebar" ng-if="fSessionCI">
    <li ng-class="{'active':$state.includes('dashboard')}" ng-show="valores[0]">
      <a ng-click="$state.reload();" ui-sref="dashboard">
        <span class="nav-text">{{ 'Menu.DASHBOARD' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-class="{'open active':$state.includes('cliente')}" ng-show="valores[1]">
      <a ng-click="$state.reload();" ui-sref="cliente">
        <span class="nav-text">{{ 'Menu.CLIENTES' | translate }}</span>
        <i class="fa fa-users"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('banner')}" ng-show="valores[2]">
      <a ng-click="$state.reload();" ui-sref="banner">
        <span class="nav-text">{{ 'Menu.BANNERS' | translate }}  </span>
        <i class="icon-picture icons"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('seccion')}" ng-show="valores[3]">
      <a ng-click="$state.reload();" ui-sref="seccion">
        <span class="nav-text">{{ 'Menu.SECCION' | translate }}  </span>
        <i class="fa fa-list-alt"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('blog')}" ng-show="valores[4]">
      <a ng-click="$state.reload();" ui-sref="blog">
        <span class="nav-text">{{ 'Menu.BLOG' | translate }}  </span>
        <i class="icon-event icons"></i>
      </a>
    </li>
    <li ng-show="valores[5]">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.MANTENIMIENTO' | translate }}</span>
        <i class="fa fa-columns"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ng-click="$state.reload();" ui-sref="idioma">
            <span class="nav-text">{{ 'Menu.IDIOMAS' | translate }}</span>
            <i>{{ 'Menu.IDIOMAS' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="sitio">
            <span class="nav-text">{{ 'Menu.SITIOS' | translate }}</span>
            <i>{{ 'Menu.SITIOS' | translate | limitTo: 2}}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('config')}" ng-show="valores[6]">
      <a ng-click="$state.reload();" ui-sref="config">
        <span class="nav-text">{{ 'Menu.CONFIG' | translate }}</span>
        <i class="fa fa-cogs"></i>
      </a>
    </li>
    <li ng-show="valores[7]">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.SEGURIDAD' | translate }}</span>
        <i class="fa fa-key"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="usuario">
            <span class="nav-text">{{ 'Menu.USUARIOS' | translate }}</span>
            <i>{{ 'Menu.USUARIOS' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="grupo">
            <span class="nav-text">{{ 'Menu.GRUPOS' | translate }}</span>
            <i>{{ 'Menu.GRUPOS' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a  ui-sref="rol">
            <span class="nav-text">{{ 'Menu.ROLES' | translate }}</span>
            <i>{{ 'Menu.ROLES' | translate | limitTo: 2}}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'active':$state.includes('perfil')}" ng-show="valores[8]">
      <a ng-click="$state.reload();" ui-sref="perfil">
        <span class="nav-text">{{ 'Menu.PERFIL' | translate }}</span>
        <i class="fa fa-user"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('mi-galeria')}" ng-show="valores[9]">
      <a ng-click="$state.reload();" ui-sref="mi-galeria">
        <span class="nav-text">{{ 'Menu.GALERIA' | translate }}</span>
        <i class="fa fa-image"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('tienda')}" ng-show="valores[10]">
      <a ng-click="$state.reload();" ui-sref="tienda">
        <span class="nav-text">{{ 'Menu.DESCARGAR' | translate }}</span>
        <i class="fa fa-shopping-cart"></i>
      </a>
    </li>
  </ul>
</div>
